<configuration>
	<property name="LOG_DIR" value="${EXTERNAL_STORAGE}/Android/data/com.master.old.vivideo/.logs"/>

	<appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
		<tagEncoder>
			<pattern>%logger{0}</pattern>
		</tagEncoder>
		<encoder>
			<pattern>[%thread] %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%date{ISO8601} [%thread] %-5level %class{5}:%line - %msg%n</pattern>

		</encoder>
		<file>${LOG_DIR}/run.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/run.%d{yyyy-MM-dd}_%d{HHmmss}.log</fileNamePattern>
			<maxHistory>7</maxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP" >
				<MaxFileSize>64MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<root level="DEBUG">
        <appender-ref ref="LOGCAT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
